# -------------------------------------
# ⚙️ Dependencias y compilados
# -------------------------------------
node_modules/
dist/
dist-ssr/
*.local

# -------------------------------------
# 🧾 Logs y temporales
# -------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------------------------
# 🧠 Configuración de entorno (no subir)
# -------------------------------------
.env
.env.local
.env.*.local
*.envs

# -------------------------------------
# 🧰 Archivos del editor / sistema
# -------------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------------------
# 🪣 Cache de herramientas
# -------------------------------------
.vercel/
.next/
.cache/
.tmp/

# -------------------------------------
# 🪴 Configs generadas automáticamente
# -------------------------------------
coverage/
*.tsbuildinfo


